# NextAuth
AUTH_SECRET=
NEXTAUTH_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Backend
NEXT_PUBLIC_API_URL=

# Anthropic API Key
ANTHROPIC_API_KEY=